* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* header section start  */

header {
    background-color: #060047;

}

.mynavbar {
    background-color: #191825;

}

.mynavlink {
    font-size: 20px;


}

.nlink {
    margin-right: 10px;
    color: #fff;
    transition: 1s;
}

.nlink:hover {
    color: orangered;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.title {
    margin-left: 200px;
}

/* header section end  */

/* profile section start  */
#profile {
    background-color: #060047;
    max-height: 80vh;


}

.mainprofile {
    margin-top: 70px;
}

.profile {
    text-align: center;
    padding: 130px 20px;
    position: relative;

}

.top-icon {
    position: absolute;
    right: 60px;
    top: 40px;
    transition: transform 2s;

}

.bottom-icon {
    position: absolute;
    left: 60px;
    bottom: 60px;
    transition: transform 2s;
}

.profile:hover .top-icon {
    transform: rotate(360deg);
}

.profile:hover .bottom-icon {
    transform: rotate(360deg);
}

.profile-dec p {
    text-align: center;
    margin: 0 auto 20px auto;
    width: 90%;
    color: rgba(255, 255, 255, 0.735);


}



.profile-dec>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
}


/* profile section end  */

/* about section start  */
#about {
    background-color: #0B2447;
    padding-top: 50px;

}

.about {
    text-align: center;
    background-color: #0B2447;
    color: rgb(187, 176, 176);
    padding: 80px 10px;

}

.title-heading {
    padding: 30px 10px 0px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: transparent;
}

#about h1 {

    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;


}



.img img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(217, 219, 217);
    border-radius: 50%;


}

.description {
    text-align: left;
}

.description p {
    text-align: left;
}

.description p a {
    text-decoration: none;
    color: rgb(187, 176, 176);

}

.description p a:hover {
    color: rgb(116, 139, 0);

}

.solid-hr {
    width: 100%;
}

.description button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #64FFDA;
    border: none;
    outline: 2px solid #A8E6CF;
}

.description button:hover {
    background-color: #133040;
}

.about::after {
    content: '';
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
}

/* about section end  */
/* skill section start  */
#skill {

    background-color: #000000;
    text-align: center;
    padding-top: 40px;
    width: 100%;

}

#skill .skill-title {
    -webkit-text-stroke: .50px #ffffff;
    padding: 30px 10px 0px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    letter-spacing: 3px;
}

#skill::after {
    content: '';
    display: table;
    clear: both;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.container-fluid .card {
    position: relative;
    width: 23%;
    margin-right: 10px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, #1b1b1b, #1b1b1b, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform .5s;
}

.container-fluid .card:nth-child(1) {
    margin-left: 5px;
}

.container-fluid .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
}

.container-fluid .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #777;
    font-weight: 700;
    transition: .5s;
}

.percent .number h2 span {
    font-size: 20px;
}

.text {
    text-transform: uppercase;
    margin-top: 20px;
    color: #777;
    font-size: 25px;
}

.card:hover .number h2 {
    font-size: 50px;
    color: white;
}

.card:hover .text {
    color: white;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(0, 0, 0, 0.664);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

.card:nth-child(1) svg circle:nth-child(2) {

    stroke-dashoffset: calc(440 - (440*80) /100);
    stroke: rgb(255, 85, 0);

}


.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440*75) /100);
    stroke: #3b61ea;
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440*55) /100);
    stroke: #890AFC;
}

.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440*60) /100);
    stroke: #FFC928;
}

.card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440*65) /100);
    stroke: rgb(255, 0, 140);
}

.card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440*50) /100);
    stroke: rgb(143, 214, 0);
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

#skill {
    content: '';
    display: table;
    clear: both;
}

/* skill section end  */

/* portfolio section start  */
#portfolio {
    padding: 80px 20px 50px 20px;
    max-width: 100%;

}

.portfolio-heading {
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

.default-container {
    max-width: 900px;

}

.allitem {
    height: 500px;
    overflow: hidden;
    max-width: 350px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.4);

}

.hidden-div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -100%;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0;

}

.allitem:hover .hidden-div {
    top: 0;
    opacity: 1;
}

.hidden-div h3 {
    padding-bottom: 10px;
    color: #30f608;
}

.webicon {
    margin-top: 50px;
}

.webicon i {
    color: white;
    font-size: 35px;
}

/* portfolio section end  */

/* contact section start here  */
#contact {
    padding: 2% 5%;
    width: 100%;
    background-color: #06283D;

}

.contactheading {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: .50px #30E3CA;
    line-height: 0;
}

#contact span {
    color: grey;
    text-align: center;
    font-size: 25px;
    line-height: 0;
    padding-bottom: 35px;
}

.map iframe {
    border-radius: 15px;
}

.textarea {
    resize: none;
}



/* contact section end here  */

/* testmonial section start  */
.testcarousel {
    padding: 40px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(/images/towfiqu-barbhuiya-0ZUoBtLw3y4-unsplash.jpg) no-repeat;
    background-size: cover;
}

.testmonialimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testtitle {
    text-align: center;
}

.t-heading {
    font-size: 50px;
    font-weight: 1000;
    color: white;
}

.testtitle p {
    font-size: 20px;
    color: gainsboro;
}

.testmonialmain h5 {
    color: gainsboro;
}

/* testmonial section end  */

/* footer start here  */
footer {
    max-width: 100%;
    background-color: #161B22;
    padding: 10px 5px;
}

.copyrightcol {
    text-align: right;
}

.fb,
.you,
.li,
.git {
    margin-right: 10px;
    font-size: 25px;
    padding: 10px;
}

.fb {
    color: #1877F2;
}

.li {
    color: #0A66C2;
}

.git {
    color: white;
}

.you {
    color: red;
}

/* footer end here  */


@media screen and (max-width:600px) {
    [class*='col-'] {
        width: 100%;
        text-align: center;
    }

    .description {
        margin-top: 20px;
    }

    .description p {
        text-align: center;
    }

    .container-fluid .card {
        width: 298px;
        margin-bottom: 20px;
    }
    .contactheading{
        font-size: 40px;
    }
    .skill-title{
        font-size: 40px;
    }
    .portfolio-heading{
        font-size: 40px;
    }
    .title-heading{
        font-size: 40px;
    }

}

@media screen and (min-width:601px) and (max-width:990px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
    /* skill section start  */
    .container-fluid .card {
        width: 298px;

    }
    /* skill section end  */

    /* contact section start  */

    .map {
        max-width: 50%;
    }

    .contact-form {
        max-width: 50%;
    }
    /* contact section end  */

}